@font-face {
  font-family: 'Segoe UI';
  src: url('./fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./fonts/SegoeUI.ttf') format('truetype');
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  @apply text-black duration-300 text-[19px];
}

body {
  @apply bg-blueLight w-full h-full;
}

@layer components {
  .largeText {
    @apply font-main text-5xl font-bold;
  }
  .h1 {
    @apply font-main text-2xl font-bold;
  }
  .h2 {
    @apply font-main text-xl font-bold;
  }
  .h3 {
    @apply font-main text-lg font-bold;
  }
  .regular {
    @apply font-main text-sm;
  }
  .light {
    @apply font-main text-xs;
  }
  .mob_h2 {
    @apply font-main text-sm font-bold;
  }
  .mob_h3 {
    @apply font-main text-xs font-bold;
  }
}
